/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  max-width: 100%;
  // overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #f4fafd;}

.invalid-feedback {
    display: block;
    font-size: 0.9rem;
    line-height: 2rem;
  }


  
.toast-info {
    color: white;
    font-size: 1.25rem;
  }
  
  .toast-container {
    max-width: 90%;
  
    .ngx-toastr {
      max-width: 90%;
      box-shadow: 0 0 12px #000000 !important;
    }
  }

  
input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

